/*------------------part1---------------------*/
:root {
    --color_0: 255,255,255;
    --color_27: 200,184,144;
    --color_1: 255,255,255;
    --color_2: 0,0,0;
    --color_3: 237,28,36;
    --color_4: 0,136,203;
    --color_5: 255,203,5;
    --color_6: 114,114,114;
    --color_7: 176,176,176;
    --color_8: 255,255,255;
    --color_28: 172,152,101;
    --color_9: 114,114,114;
    --color_10: 176,176,176;
    --color_11: 255,255,255;
    --color_12: 243,243,243;
    --color_13: 217,217,217;
    --color_14: 113,112,112;
    --color_15: 0,0,0;
    --color_16: 254,240,171;
    --color_17: 252,211,7;
    --color_18: 221,180,13;
    --color_29: 145,111,24;
    --color_19: 168,141,5;
    --color_20: 84,70,2;
    --color_21: 252,181,181;
    --color_22: 250,144,144;
    --color_23: 247,37,37;
    --color_24: 165,25,25;
    --color_25: 82,12,12;
    --color_30: 72,55,12;
    --color_31: 167,222,160;
    --color_32: 119,190,110;
    --color_33: 40,158,25;
    --color_34: 27,105,16;
    --color_35: 13,52,8;
    --font_0: normal normal normal 29px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;
    --font_1: normal normal normal 14px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
    --font_2: normal normal normal 55px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;
    --font_3: normal normal normal 80px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;
    --font_4: normal normal normal 60px/1.4em fbbluegothicl,serif;
    --font_5: normal normal normal 29px/1.4em fbbluegothicl,serif;
    --font_6: normal normal normal 22px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;
    --font_7: normal normal normal 20px/1.4em fbbluegothicl,serif;
    --font_8: normal normal normal 16px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;
    --font_9: normal normal normal 12px/1.4em fbbluegothicl,serif;
    --font_10: normal normal normal 14px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --wix-ads-height: 50px;
    --wix-ads-top-height: 50px;
    --site-width: 980px;
    --above-all-z-index: 100000;
    --portals-z-index: 100001;
    --minViewportSize: 320;
    --color_26: 227,214,180;
    --maxViewportSize: 1920;
}



#SITE_CONTAINER {
    position: relative;
}


* {
    border: none;
    margin: 0;
    padding: 0;
  }

  html {
    height: 100%;
  }

  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #map_canvas {
    height: 100%;
    width: 100%;
  }

  

  #content {
    overflow-x: hidden;
  }


.KxUm9._3CXj5 {
    z-index: var(--above-all-z-index);
    position: fixed;
    top: 0;
}

.KxUm9 {
    width: 100%;
}

a, body, button, div, footer, h1, h2, header, html, img, li, nav, p, section, span, title, ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
}

.KxUm9 .BNB_2 {
    box-sizing: border-box;
    background: #eff1f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #a0138e;
    width: 100%;
    height: 50px;
}

.KxUm9 ._4Ue8X {
    direction: ltr;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.KxUm9 .BNB_2>._1oNmL {
    display: flex;
    align-items: center;
}



.KxUm9 .BNB_2>._1oNmL ._3lBpL {
    font-family: wixFreemiumFontW01-65Medi,wixFreemiumFontW02-65Medi,wixFreemiumFontW10-65Medi,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
    font-size: 14px;
    color: #20303c;
    line-height: 24px;
    flex-shrink: 0;
}

#_bannerLogo[data-testid="bannerLogo"] {
    direction: ltr;
    display: inline-flex;
}


.KxUm9 .BNB_2>._1oNmL ._3lBpL ._2GtTS {
    fill: #20303c;
    width: 36px;
    vertical-align: middle;
    padding-bottom: 6px;
    height: 16px;
}

svg:not(:root) {
    overflow: hidden;
}

.KxUm9 .BNB_2>._1oNmL ._3lBpL ._2GtTS>.zAzVm {
    fill: #fc0;
}

:not(svg) {
    transform-origin: 0px 0px;
}



.KxUm9 .BNB_2>._1oNmL ._3lBpL ._22hH6 {
    color: #20303c;
}

.KxUm9 .BNB_2>._1oNmL ._3ITII._4Ue8X {
    margin-left: 6px;
}


.KxUm9 .BNB_2>._1oNmL ._3ITII {
    font-family: wixFreemiumFontW01-65Medi,wixFreemiumFontW02-65Medi,wixFreemiumFontW10-65Medi,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
    font-size: 14px;
    color: #a0138e;
    border: 1px solid #a0138e;
    display: inline-flex;
    width: 112px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    flex-shrink: 0;
    text-align: center;
}

.KxUm9 ._4Ue8X {
    direction: ltr;
}


._2v3yk {
    position: var(--bg-position);
    top: var(--wix-ads-height);
    min-height: calc(100vh - var(--wix-ads-height));
    height: 100%;
    width: 100%;
    min-width: var(--site-width);
}

._3KzuS {
    background-color: var(--bg-overlay-color);
    background-image: var(--bg-gradient);
}

._3SQN-, ._3wnIc {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

._2GUhU {
    height: 100%;
}

._1eCSh {
    mix-blend-mode: var(--fill-layer-background-overlay-blend-mode);
    opacity: var(--fill-layer-background-overlay-blend-opacity,1);
    background-color: var(--fill-layer-background-overlay-color);
    position: var(--fill-layer-background-overlay-position);
    transform: var(--fill-layer-background-overlay-transform);
    width: 100%;
    height: 100%;
    top: 0;
}

body:not(.responsive) #site-root {
    width: 100%;
    min-width: var(--site-width);
}


#site-root {
    top: var(--wix-ads-top-height);
    min-height: 100%;
    margin: 0 auto;
    position: relative;
}

#masterPage.mesh-layout {
    display: grid;
    grid-template-rows: max-content max-content min-content max-content;
    grid-template-columns: 100%;
    align-items: start;
    justify-content: stretch;
}

#masterPage{
    --pinned-layers-in-page: 0;
}

#masterPage {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
}

#masterPage.mesh-layout #SITE_HEADER_WRAPPER {
    position: relative;
}

#masterPage.mesh-layout #SITE_HEADER_WRAPPER {
    grid-area: 1/1/2/2;
}

#SITE_HEADER {
    --bg: 255,255,255;
    --shd: none;
    --brwt: 0px;
    --brd: var(--color_15);
    --brwb: 0px;
    --bgctr: 255,255,255;
    --rd: 0px;
    --boxShadowToggleOn-shd: none;
    --alpha-brd: 1;
    --alpha-bgctr: 1;
    --alpha-bg: 1;
    --shc-mutated-brightness: 128,128,128;
}

#SITE_HEADER {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
    --pinned-layer-in-container: 50;
    --above-all-in-container: 49;
}

._2o25M {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    left: 0;
}


.ZW5SX ._1nRb9 {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    box-shadow: var(--shd,0 0 5px rgba(0,0,0,.7));
    background-color: var(--screenwidth-corvid-background-color,rgba(var(--bg,var(--color_11)),var(--alpha-bg,1)));
    border-top: var(--brwt,0) solid var(--screenwidth-corvid-border-color,rgba(var(--brd,var(--color_15)),var(--alpha-brd,1)));
    border-bottom: var(--brwb,0) solid var(--screenwidth-corvid-border-color,rgba(var(--brd,var(--color_15)),var(--alpha-brd,1)));
}

.ZW5SX ._2P6JN {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ZW5SX ._1dlfY {
    top: var(--brwt,0);
    bottom: var(--brwb,0);
    border-radius: var(--rd,0);
    background-color: rgba(var(--bgctr,var(--color_11)),var(--alpha-bgctr,1));
    position: absolute;
    right: 0;
    left: 0;
}

._1_UPn{
    height: auto;
}

._1_UPn, ._38XI2 {
    position: relative;
    width: 100%;
    height: auto;
}

[data-mesh-id=SITE_HEADERinlineContent] {
    height: auto;
    width: 100%;
}

[data-mesh-id$=inlineContent] {
    position: relative;
    pointer-events: none;
}

[data-mesh-id=SITE_HEADERinlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}

#WRchTxtr-vn6 {
    height: auto;
    width: 313px;
}

[data-mesh-id=SITE_HEADERinlineContent-gridContainer] > [id="WRchTxtr-vn6"] {
    position: relative;
    margin: 19px 0px 31px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

._1Q9if{
    overflow-wrap: break-word;
    text-align: start;
    pointer-events: none;
    min-height: var(--min-height);
    min-width: var(--min-width);
}


._1Q9if h1{
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}

.font_0{
    font: var(--font_0);
    color: rgb(var(--color_15));
}

._1Q9if>* {
    pointer-events: auto;
}

._1Q9if a{
    color: inherit;
}

a{
    cursor: pointer;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}



#DrpDwnMn0-pl0{
    visibility: inherit;
    overflow-x: visible;
    --menuTotalBordersX: 0px;
    --menuTotalBordersY: 0px;
    --bgDrop: var(--color_11);
    --rd: 0px;
    --shd: none;
    --fnt: var(--font_1);
    --pad: 5px;
    --txt: var(--color_15);
    --trans: color 0.4s ease 0s;
    --txth: var(--color_17);
    --txts: var(--color_17);
    --boxShadowToggleOn-shd: none;
    --alpha-txt: 1;
    --alpha-bgDrop: 1;
    --alpha-txth: 1;
    --alpha-txts: 1;
    width: 586px;
    height: 20px;
}

[data-mesh-id=SITE_HEADERinlineContent-gridContainer] > [id="DrpDwnMn0-pl0"] {
    position: relative;
    margin: 31px 0px 32px calc((100% - 980px) * 0.5);
    left: 313px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
    pointer-events: auto;
}

._3SSUZ .l76As {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

._1oZ90>nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}



._3SSUZ .l76As ._2MHbW {
    width: calc(100% - (var(--menuTotalBordersX, 0px)));
    height: calc(100% - (var(--menuTotalBordersY, 0px)));
    white-space: nowrap;
    overflow: visible;
}

._1oZ90 {
    position: absolute;
}

ul {
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

._3KF65 ._1u8sp {
    padding: 0 var(--pad,5px);
}



#DrpDwnMn0-pl01{
    width: 86px;
    height: 20px;
    position: relative;
    box-sizing: border-box;
    overflow: visible;
    visibility: inherit;
}

._3SSUZ .l76As ._2MHbW .Y5j6d {
    display: inline-block;
}


._3KF65[data-state~=selected] ._1zyfI {
    color: rgb(var(--txts,var(--color_14)));
    transition: var(--trans,color .4s ease 0s);
}

._3KF65 ._1zyfI {
    display: inline-block;
    padding: 0 10px;
 }

#DrpDwnMn0-pl02{
    width: 100px;
    height: 20px;
    position: relative;
    box-sizing: border-box;
    overflow: visible;
    visibility: inherit;
}



._3KF65 {
    cursor: pointer;
    font: var(--fnt,var(--font_1));
}



#DrpDwnMn0-pl0__more__{
    height: 0px;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
}

._3KF65[data-state~=header] div {
    cursor: default!important;
}

._3KF65 ._2DUrw {
    display: inline-block;
    height: 100%;
    width: 100%;
}

._1oZ90 ._2vbYi {
    visibility: hidden;
    margin-top: 7px;
    position: absolute;
}

._3SSUZ ._2vbYi {
    z-index: 99999;
    display: block;
    opacity: 1;
}

._3SSUZ ._2vbYi ._1mmDc {
    overflow: visible;
    display: inherit;
    white-space: nowrap;
    width: auto;
    visibility: inherit;
}

._1oZ90 ._1mmDc {
    background-color: rgba(var(--bgDrop,var(--color_11)),var(--alpha-bgDrop,1));
    border-radius: var(--rd,0);
    box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6));
}

#DrpDwnMn0-pl0__more__label{
    text-align: left;
}

#LnkBr0-1ee9 {
    --item-size: 18px;
    --item-margin: 0 9px 0 0;
    --item-display: inline-block;
    width: 72px;
    height: 18px;
}

[data-mesh-id=SITE_HEADERinlineContent-gridContainer] > [id="LnkBr0-1ee9"] {
    position: relative;
    margin: 32px 0px 33px calc((100% - 980px) * 0.5);
    left: 908px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

[data-mesh-id$=-gridContainer]>*{
    pointer-events: auto;
}



._2O-Ry .xb9fU {
    position: absolute;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

._2O-Ry .xb9fU ._3lu8e {
    display: var(--item-display);
    width: var(--item-size);
    height: var(--item-size);
    margin: var(--item-margin);
}

._2O-Ry .xb9fU ._3lu8e ._26AQd {
    display: block;
}

._2O-Ry .xb9fU ._3lu8e:last-child {
    margin: 0;
}









p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}




/*------------------part2---------------------*/


body{
    margin: 0;
}


.main{
    width: 100%;
    height: 500px;
    background-image: url("이미지/main_pic.webp");
    background-size: cover;
    padding-top: 110px;
    color: white;
}

.padding-size{
    padding: 0 300px;
}

.sub{
    width: 100%;
    height: 350px;
    background-color: #FBD403;
}

.plus{
    color: #FBD403;
    font-size: 84px;
    font-weight: 700;
    position: absolute;
    top: 45px;
    left: 270px;
    z-index: 0;
}

.main__box__slogan{
    position: relative;
    margin-bottom: 70px;
}

/*줄간격 맞추기*/
.main__box__slogan > p{
    line-height: 1em; 
    margin: 2px 0;
}

.main__box span{
    margin-left: 7px;
}

.main__btn{
    width: 160px;
    height: 45px;
    border: 2px solid white;
    background-color: transparent;
    margin: 40px 0px;
    color: white;
    transition: all 0.3s ease-in-out;
}
.main__btn:first-child{
    margin-right: 20px;
}
.main__btn:last-child{
    margin-left: 20px;
}

.main__btn:hover{
    color: #FBD403;
    border-color: #FBD403;
}


.sub__box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.sub__box__charge{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 50px;
    margin-bottom: 0;
}

.sub__box__charge__img{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.sub__box__charge__img img{
    width: 60px;
    height: 60px;
}


.font--lg{
    font-size: 60px;
}
.font--m{
    font-size: 29px;
}
.font--special{
    font-family: 'Roboto Serif', sans-serif;
}
.sub__box__charge span{
    font-size: 16px;
}


/*------------------part3---------------------*/


@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300&display=swap');



.mainbox {
    padding-left: 300px;
    padding-right: 300px;
    
}

.plus_part {
    padding-top: 30px;
    font-size: 55px;
    font-family: 'Roboto Serif', sans-serif;
}

.plus_1 {
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.intro {
    font-size: 20px;
    padding-left: 30px;
    padding-bottom: 50px;
}

.person-wrapper{
    display: flex;
    justify-content : space-between;
    flex-direction : center;
}

.person_1 {
    width: 80%;
    height: 80%;
}
.person_2 {
    width: 80%;
    height: 80%;
}
.person_3 {
    width: 80%;
    height: 80%;
}
.person_4 {
    width: 80%;
    height: 80%;
}

.info{
    text-align: center;
    font-size: 8px;
    padding-right: 30px;
}

.text_1{
    font-size: 12px;
    padding-top: 50px;
    padding-right: 20px;
}
.text_2{
    font-size: 12px;
    padding-top: 50px;
}
.text {
    padding-top: 30px;
    display: flex;
    justify-content : space-between;
}


/*------------------part4---------------------*/
/* <note>
소정님 혹시 과제 예시랑 노란색 컬러 같게 하시려면 #FBD403 코드 사용하시면 됩니다!
yellow로 해도 상관없지만, 그냥 참고하시라고 주석 남겨요..ㅎㅎ*/
/* 넵 감사합니다! 아무래도 과제 예시와 같게 수정하는 게 좋을 것 같아서 수정했습니다~^^*/


.part4{
	width: 980px;
	height: 850px;
	float: left;
	background-color: black;	
	padding: 0px 300px;
}


.main-box{
    color: white;
}

.first-block{
    width: 5%; 
    height: 100%; 
    float: left; 
    padding-top: 50px;
}

.second-block{
    width: 95%; 
    height: 830px; 
    float: left; 
}

.title1{
    width: 95%; 
    height: 20%; 
    float: left; 
}

.font1{
    font-size: 55px; 
    margin: 50px 15px 0px; 
    font-weight: bold;
    font-family: 'Roboto Serif', sans-serif;
}

.font2{
    font-size: 20px; 
    margin: 10px 18px;
}

.section1{
    width: 400px; 
    float: left;
}

.info1{
    width: 350px; 
    margin: 35px 12px;
}

.iconblock{
    width: 50px;;
    float: left;
    text-align: center;
}

.textblock{
    width: 200px;
    height: 77px;
    padding-top: 5px;
    line-height: 19px;
    text-align: center;
}

.info2{
    width: 200px;
    font-size: 12px;
    margin: 50px 12px;
}

.section2{
    width: 450px;
     float: left;
}

.text1{
    font-size: 30px;
    margin: 35px 0px;
}

.text2{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 35px;
}

.block1{
    width: 225px; 
    height: 120px; 
    float: left; 
}

.box1{
    width: 210px;
    height: 28px;
    margin-bottom: 7px;
}

input.box1:hover {
    border-color: #FBD403;
    border-width: 3px;
}
textarea:hover {
    border-color: #FBD403;
    border-width: 2px;
}

.submit-button:hover{
	background-color: white;
}

input::placeholder{
    color: dimgray;
    font-size: 15 px;
    text-indent: 25px;
}
textarea::placeholder{
    color: dimgray;
    font-size: 15px;
    text-indent: 10px;
	padding: 10px 10px;
}

.block2{
    width: 225px; float: left;
    height: 120px; 
    margin-bottom: 40px;
}

.submit-button{
    background-color:#FBD403;
    float: right;
    width: 100px;
    height: 30px;
    border-style: none;
    margin: 5px
}


/*------------------part5(footer)---------------------*/
#SITE_FOOTER {
    --bg: var(--color_11);
    --shd: none;
    --brwt: 0px;
    --brd: var(--color_15);
    --brwb: 0px;
    --bgctr: var(--color_11);
    --rd: 0px;
    --alpha-bg: 0;
    --alpha-bgctr: 1;
    --alpha-brd: 1;
    --boxShadowToggleOn-shd: none;
    --shc-mutated-brightness: 128,128,128;
}

#SITE_FOOTER {
    left: 0;
    margin-left: 0;
    width: 100%;
    min-width: 980px;
    --pinned-layer-in-container: 51;
    --above-all-in-container: 49;
}

[data-mesh-id=SITE_FOOTERinlineContent] {
    height: auto;
    width: 100%;
}

[data-mesh-id=SITE_FOOTERinlineContent-gridContainer] {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: 121px;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}

#WRchTxt0-16wb {
    height: auto;
    width: 477px;
}

[data-mesh-id=SITE_FOOTERinlineContent-gridContainer] > [id="WRchTxt0-16wb"] {
    position: relative;
    margin: 27px 0px 10px calc((100% - 980px) * 0.5);
    left: 0px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

#WRchTxts-jbi {
    height: auto;
    width: 416px;
}

[data-mesh-id=SITE_FOOTERinlineContent-gridContainer] > [id="WRchTxts-jbi"] {
    position: relative;
    margin: 27px 0px 10px calc((100% - 980px) * 0.5);
    left: 492px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}



#LnkBr0-199w {
    --item-size: 18px;
    --item-margin: 0 9px 0 0;
    --item-display: inline-block;
    width: 72px;
    height: 18px;
}

[data-mesh-id=SITE_FOOTERinlineContent-gridContainer] > [id="LnkBr0-199w"] {
    position: relative;
    margin: 27px 0px 10px calc((100% - 980px) * 0.5);
    left: 908px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
}

._1Q9if p{
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}

._2O-Ry .xb9fU ._3lu8e {
    display: var(--item-display);
    width: var(--item-size);
    height: var(--item-size);
    margin: var(--item-margin);
}

#masterPage.mesh-layout #SITE_FOOTER_WRAPPER{
    position: relative;
    grid-area: 4/1/5/2;
}

